.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-container {
  background-image: url('images/bg.jpg'); /* Chemin vers l'image */
  background-size: cover; /* Couvre tout l'espace */
  background-position: center; /* Centre l'image */
  position: fixed; /* Fixe le conteneur en arrière-plan */
  top: 0; /* Positionne en haut */
  left: 0; /* Positionne à gauche */
  right: 0; /* Positionne à droite */
  bottom: 0; /* Positionne en bas */
  z-index: -1; /* Envoie le conteneur derrière le contenu */
  height: 100vh;
}

.app-content {
  overflow: auto;
  height: 100vh;
  position: relative; /* Assure que le contenu est en position relative */
  z-index: 1; /* Le contenu sera au-dessus du fond */
  /* Autres styles pour ton application */
}

